* { 
   
    font-family: 'Homemade Apple', cursive;
    
}
#respuesta {
    color: blue;
    text-decoration: underline overline
}

 .text-right { 
     text-align: right;
 }

 body {
    display: block;
    margin: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.myDiv {
    border: 1px outset black;
    margin: 25px;
    padding: 15px;
    background-color: lightgray;
  
}
/* This is a single-line comment */